#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  copilot-app.service
BindsTo=copilot.service
After=copilot.service backend-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/copilot-app.pid %t/copilot-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/copilot-app.pid \
    --cidfile %t/copilot-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/copilot.pod-id --replace -d --name  copilot-app \
    --env=COPILOTF_* \
    --env SERVER_HOST=${url} \
    ${COPILOT_FRONTEND_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/copilot-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP copilot-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/copilot-app.ctr-id
PIDFile=%t/copilot-app.pid
Type=forking

[Install]
WantedBy=default.target
